<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EncryptAndDecrypt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AF810651D83ABB7005DF00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AF8107E1D83ABB7005DF00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AF810891D83ABB7005DF00B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
